:host
  display flex
  box-sizing border-box
  align-items flex-start
  justify-content center
  height 100vh
  padding 10vh
  background #212121


.container
  box-sizing border-box
  position relative
  width 600px
  max-height 80vh
  box-shadow 0 .25rem .25rem rgba(0,0,0,0.2), 0 0 1rem rgba(0,0,0,0.2)
  overflow hidden
  background #303030
  color #fff


.navbar
  .mat-tab-link
    height 3.5rem
    width 33%
    font-size 1 rem


.content
  padding 1rem
  max-height 70vh
  overflow-y scroll
