.settings
  display: block
  position: relative
  padding: 0 1rem 0.5rem 1rem
  font-family: Roboto, "Helvetica Neue", sans-serif

  mat-form-field:nth-child(odd)
    margin-right: 3em

  button
    margin-top: 2em
    margin-right: 1em
    width: 150px
